.sbox{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    height: 50px;

}
.row.boxM{
   display: grid;
   grid-template-columns: 200px auto;
    margin: 20px 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.sbox input.text{
    outline: 0;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 5px;
    width: 400px;
    height: 40px;
    font-size: 24px;
    color: #4A00E0;
    border-width: 2px ;
    
}

.sbox button{
    color: #FFF;
    background: #8E2DE2; 
    outline: 0;
    border: 0;
    height: 40px;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
    box-shadow: 2px 2px 2px #969393;
}
app-movie{
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
}

ul.pages li{
    display: inline-block;
    float: left;
    list-style: none;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

ul.pages{
    display: flex;
    margin: 0;
    width: 200px;
    overflow: hidden;
      padding: 0;
}

.activepage{
    background-color: #4A00E0;
    color: #FFF;
}

.side ul{
    width: 100%;
    float: left;
    margin: 10px 0;
    padding: 0;
}
.side ul li {
    list-style: none;
    color: #fff;
    background-color: rgb(89, 9, 180);
    margin: 2px 4px;
    padding: 3px 10px; float: left;
 clear:both;  font-size: 14px;
    cursor: pointer;
}
.side ul li:first-child{
 background-color: #eee;  color: #000; font-size: 18px; font-weight: bold;
}