.sbox{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    height: 30px;

}
.row.boxM{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.sbox input{
    outline: 0;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 5px;
    width: 400px;
    height: 40px;
    font-size: 24px;
    color: #4A00E0;
    border-width: 2px ;
    
}
.sbox button{
    color: #FFF;
    background: #8E2DE2; 
    outline: 0;
    border: 0;
    height: 40px;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
    box-shadow: 2px 2px 2px #969393;
}
app-movie{
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
}

ul.pages li{
    display: inline-block;
    float: left;
    list-style: none;
    margin: 10px;
    padding: 5px;
}

ul.pages{
    display: flex;
    margin: 0;
    width: 500px;
    overflow: hidden;
    overflow-x: scroll;
    padding: 0;
}

.activepage{
    background-color: #4A00E0;
    color: #FFF;
}