app-header{
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
}

.side, .box{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}
.side{
    flex-basis: 100%;
    flex-grow: 2;
    justify-content: flex-start;
}
.box{
    flex-grow: 2;
}
.box app-box{
        display: flex;
        flex-grow: 1;
}

